body {
    background-color: #f8f9fa !important;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#carousel {
    display: none;
    width: 100%;
}

.carousel_container {
    position: relative;
    width: 100%;
    margin: auto;

}

.caro_image {
    max-width: 100%;
    margin: auto;
    display: none;
}

.caro_image img {
    width: 100%;
    height: auto;
}

/* swipe animation */
.swipeRight {
    -webkit-animation-name: swipeR;
    -webkit-animation-duration: .5s;
    animation-name: swipeR;
    animation-duration: .5s;
}

@-webkit-keyframes swipeR {
    from {
        transform: translateX(+40px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes swipeR {
    from {
        transform: translateX(+40px);
    }

    to {
        transform: translateX(0px);
    }
}

.swipeLeft {
    -webkit-animation-name: swipeL;
    -webkit-animation-duration: .5s;
    animation-name: swipeL;
    animation-duration: .5s;
}

@-webkit-keyframes swipeL {
    from {
        transform: translateX(-40px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes swipeL {
    from {
        transform: translateX(-40px);
    }

    to {
        transform: translateX(0px);
    }
}


.side_arrow {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 3rem;
    color: #e9ecef;
    margin-left: 2rem;
}

.side_arrow.right {
    right: 0px;
    margin-right: 2rem;
}

.side_arrow i {
    font-weight: bolder;
}


.carousel_container:hover .side_arrow {
    display: block;
}

.dots {

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    cursor: pointer;
    display: inline-block;
    background-color: grey;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: 0px 2px;
    transition: width .3s ease-in-out;
}

.dot:hover {
    background-color: #8490ff;
}

.active_dot {

    background-color: #8490ff;

}

.side_arrow {
    cursor: pointer;
}


#cards_section {
    display: none;
    margin-top: 100px;
}


#cards_container a:hover {
    color: black;
    text-decoration: none;
}

.parentcardbox {
    min-height: 15rem;
}

.card {
    background-color: white;
    box-shadow: 0 2px 4px 0 #8490ff;
    transition: 0.3s;
    padding: 1rem;
    font-size: .9rem;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.card:hover {
    text-decoration: none;
    color: black;
}

.card i {
    width: 1rem;
    margin-right: 5px;
}

.card:hover>.desc {
    max-height: 500px;

}

.desc {

    max-height: 0;
    transition: max-height .3s ease-in-out;
    overflow: hidden;
}

@media (max-width: 576px) {
    .mainHeading {
        margin-top: 20px;
        font-size: 2rem !important;
    }
}